# Database connection string
# Replace with your own PostgreSQL credentials
DATABASE_URL="postgresql://YOUR_USER:YOUR_PASSWORD@localhost:5432/ypizza?schema=public"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""